@charset "UTF-8";
/* CSS Document */

.nav li {
	padding: .25rem;
}

.search-field {
	padding-top: 1rem;
}

@media only screen and (min-width:30em) {
	.nav li {
		padding: 1rem;
	}
	
	.nav a {
		font-size: 1.1250rem;
	}
	
	.search-field {
		padding-top: 0;
	}
}

@media only screen and (min-width:45em) {
	.logo {
		display: block;
		margin: auto;
		width: 35rem;
	}
}

.banner {
	background: url(../images/banner2.jpg) no-repeat center center;
	background-size: cover;
	padding: 5em 2em 2em;
	text-align: center;
}
	
.banner h2 {
	color: white;
}
