@charset "UTF-8";
/* CSS Document */

.promo {
 	padding: 1rem;
}

.promo-small p {
	display: none;
	background-color: #ECF0F1;
	padding: 2em;
	border-radius: 5px;
}

.promo-small h4 {
	margin-top: 1.25rem;
}

.promo-text-small {
	position: relative;
	z-index: 100;
	bottom: 200px;
}

.promo-large-p {
	display: none;
}

.promo-text-large {
	position: relative;
	z-index: 100;
	bottom: 50px;
}

.promo-btn {
	font-size: .75rem;
}


@media only screen and (min-width:30em) {
	.promo-text-large {
	}
	
	.promo-large-p {
		display: block;
	}
	
	.promo-btn {
		font-size: 1.25rem;
	}
}

@media only screen and (min-width:40em) {	
	.promo-small p {
		display: block;
	}
}
	
@media only screen and (min-width:65em) {
	.promo-text-large {
		font-size: 3rem;
		bottom: 120px;
	}
	
	
	.promo-text-large p {
		font-size: 1.2656rem;
	}
}