# Accessibility Testing Report

User testing was conducted by Rachel Lin on April 2, 2014 between the times of 4:30pm and 6:00pm with the following participants:

- Sarah Bootsma
- Sarah Hodgson
- Sam Mclelland
- Amanda Sparks
- Tara Boland
- Shelley Babij

## Tasks

1. Find out about the company
2. Search for vegan donuts
3. Order and purchase any item

---

## Individual Results & Observations

### Sarah Bootsma

- Completed task as expected
- Completed task, typed 'vegan' in search bar
- Completed task, ordered vanilla donut hole

### Sarah Hodgson

- Completed task as expected
- Completed task, typed "vegan donuts" in search bar
- Completed task, went to order page twice, ordered chocolate donut hole

### Sam Mclelland

- Completed task as expected
- Completed task, typed 'vegan' in search bar
- Completed task, went to order page twice, ordered cheddar and bacon donut

### Amanda Sparks

- Completed task as expected
- Completed task as expected
- Completed task, had difficulty ordering due to image without focus style

### Tara Boland

- Completed task as expected
- Completed task as expected
- Completed task, ordered smores donut

### Shelley Babij

- Completed task as expected
- Completed task as expected
- Completed task, ordered maple bacon donut

---

## Trends

### Critical, Needs Fixing, Unable to Complete



### Serious, Causes Frustration, May Hinder Completion

- Side navigation on order pages may cause confusion on voice over


### Minor, Annoying, Won’t Hinder Completion

- Several pages/options to get throug check out process
- Images don't have a focus attribute