---
layout: default
title: Home
showbanner: yes
bannertext: DONUTS ARE FOREVER
---

<br>

<div class="grid">
	<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
		{% include promo-small.html title="Create" desc="Create your own donut" image="create.jpg" %}
	</div>
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
		{% include promo-small.html title="Select" desc="Take a look at our signature flavours" image="select.jpg" %}
	</div>
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
		{% include promo-small.html title="Win" desc="Enter our contest to win prizes" image="win.jpg" %}
	</div>
</div>

{% include promo-large.html image="large-promo.jpg" %}