# User Testing Report

User testing was conducted by Rachel Lin on March 26 between the times of 3:00pm and 3:30pm with the following participants:

- Sarah Bootsma
- Sarah Hodgson
- Pedro Cardoso Dos Santos

## Tasks

1. Search for pistachio vegan donuts
2. Find information about company
3. Order and create vanilla donut holes

---

## Individual Results & Observations

### Sarah Bootsma

1.	- Searched for 'vegan donuts' through search bar
	- Selected Pistachio donut
2.	- Clicked on About link
3.	- Clicked on Order link
	- Selected donut holes image
	- Selected vanilla donut hole flavour and ordered item
	- Purchased item

### Sarah Hodgson

1.	- Searched for 'vegan' through search bar
	- Selected Pistachio donut
2.	- Clicked on About link
3.	- Clicked on Order link
	- Selected donut holes image
	- Selected vanilla donut hole flavour and ordered item
	- Purchased item

### Pedro Cardoso Dos Santos

1.	- Searched for 'vegan' through search bar
	- Selected Pistachio donut
2.	- Clicked on Contact link
	- Clicked on About link
3.	- Clicked on Order link
	- Selected donut holes image
	- Selected vanilla donut hole flavour and ordered item
	- Purchased item

---

## Trends

### Critical, Needs Fixing, Unable to Complete



### Serious, Causes Frustration, May Hinder Completion

Lots of images / different options; may cause frustration.

### Minor, Annoying, Won’t Hinder Completion
