@charset "UTF-8";
/* CSS Document */

.nav li {
	padding: .25rem;
}

@media only screen and (min-width:30em) {
	.nav li {
		padding: 1rem;
	}
	
	.nav a {
		font-size: 1.1250rem;
	}
}

@media only screen and (min-width:45em) {
	.logo {
		display: block;
		margin: auto;
		width: 35rem;
	}
}