@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.ir {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.img-flex {
	display: block;
	width: 100%;
}

.margin {
  padding: 20px;
  
}

hr {
	display:none;
}

@media only screen and (min-width:33em) {

	.margin {
		margin-left: 60px;
		margin-right: 60px;
	}

	hr {
		display: block;
		height: 3px;
		background-color: #E74C3C;
		border-color: #E74C3C;
		margin: 20px 130px 35px;
	}

}

@media only screen and (min-width:50em) {
	hr {
		margin: 20px 175px;
	}
	
	.margin {
		margin-left: 130px;
		margin-right: 130px;
	}
}

.block-link {
	display: block;
}