.grid {
	overflow: hidden;
	padding-bottom: 2rem;
}

.product-grid {
	overflow: hidden;
	padding-bottom: 2rem;
	padding-left: 13rem;
}

.unit {
	background-color: #fff;
	float: left;
}

.unit-center {
	text-align: center;
}

.unit-s-1 {
	width: 100%;
}

.unit-s-1-2 {
	width: 50%;
}

@media only screen and (min-width:33em) {
	.unit-center {
		float: left;
	}
	
	.unit-m-1-3 {
		width: 33.33%;	
	}
	
	.unit-m-1 {
		width: 100%;
	}
	
	.unit-m-1-2 {
		width: 50%;
	}
	
	.unit-m-2-3 {
		width: 66.66%;
	}
}

@media only screen and (min-width:80em) {
	.unit-l-1-3 {
		width: 33.33%;
	}
	
	.unit-l-2-3 {
		width: 66.66%;
	}
}