---
layout: default
---

<h1 class="center">Create</h1>

<!--SIDE NAV-->
{% include side-nav.html %}

<!--PRODUCT IMAGES-->
<h4 class="center">Donut Holes</h4>
<div class="product-grid">
		{% for holes in site.pages %}
			{% if holes.category == 'holes' %}
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
				<a class="brand-family" href="{{site.baseurl}}{{holes.url}}">
				<img class="img-flex"src="{{site.baseurl}}/images/{{holes.image}}" alt="">
					{{holes.name}}
				</a>
		</div>
					{% endif %}
		{% endfor %}
</div>

<h4 class="center">Filled Donuts</h4>
<div class="product-grid">
		{% for jelly in site.pages %}
			{% if jelly.category == 'jelly' %}
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
				<a class="brand-family" href="{{site.baseurl}}{{jelly.url}}">
				<img class="img-flex"src="{{site.baseurl}}/images/{{jelly.image}}" alt="">
					{{jelly.name}}
				</a>
		</div>
					{% endif %}
		{% endfor %}
</div>

<h4 class="center">Original</h4>
<div class="product-grid">
		{% for original in site.pages %}
			{% if original.category == 'original' %}
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
				<a class="brand-family" href="{{site.baseurl}}{{original.url}}">
				<img class="img-flex"src="{{site.baseurl}}/images/{{original.image}}" alt="">
					{{original.name}}
				</a>
		</div>
					{% endif %}
		{% endfor %}
</div>


{{content}}