<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Default</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/embed.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
</head>

<body>

<header>
	
	<img class="logo" src="images/logo.svg" alt="">
	
	<div class="nav center brand-family">
		<ul>
			<li class="list-group-item-inline milli">
				<a href="#" class="uppercase">About</a>
			</li>
			<li class="list-group-item-inline milli">
				<a href="#" class="uppercase">Order</a>
			</li>
			<li class="list-group-item-inline milli">
				<a href="#" class="uppercase">Contact</a>
			</li>
		</ul>
	
		<div class="search-field">
		  <input class="searchField" type="text" name="search" autocomplete="off" />
		</div>
	
	</div>
</header>
{{content}}


</body>
</html>
