<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Default</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/embed.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
</head>

<body>

<header>
	
	<img class="logo" src="{{site.baseurl}}/images/logo.svg" alt="">
	
	<div class="nav center brand-family">
		<ul>
			<li class="list-group-item-inline milli">
				<a href="#" class="uppercase">About</a>
			</li>
			<li class="list-group-item-inline milli">
				<a href="#" class="uppercase">Order</a>
			</li>
			<li class="list-group-item-inline milli">
				<a href="#" class="uppercase">Contact</a>
			</li>
		</ul>
	
		<div class="search-field">
		  <input class="searchField" type="text" name="search" autocomplete="off" />
		</div>
	
	</div>
</header>


{{content}}


<footer class="center">
		<div class="nav footer-nav">
			<ul>
				<li class="list-group-item-inline milli">
					<a href="#" class="uppercase">About</a>
				</li>
				<li class="list-group-item-inline milli">
					<a href="#" class="uppercase">Order</a>
				</li>
				<li class="list-group-item-inline milli">
					<a href="#" class="uppercase">Contact</a>
				</li>
			</ul>
		</div>
		
		<div class="social-links">
			<ul class="social">
				<li class="list-group-item-inline">
					<a class="ease-all" href="#">
						<i class="fa fa-facebook"></i>
						<span class="hide-text">Facebook</span>
					</a>
				</li>
							
				<li class="list-group-item-inline">
					<a class="ease-all" href="#">
						<i class="fa fa-twitter"></i>
						<span class="hide-text">Twitter</span>
					</a>
				</li>
							
				<li class="list-group-item-inline">
					<a class="ease-all" href="#">
						<i class="fa fa-instagram"></i>
						<span class="hide-text">Instagram</span>
					</a>
				</li>
			</ul>
		</div>

		<p class="micro legal">Rachel Lin 2013</p>
	</footer>
	
</body>
</html>
