<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page.title}} · Donuts Are Forever</title>
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/embed.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
</head>

<body>

<header>
	
	<a href="{{site.baseurl}}/index/"> <img class="logo" src="{{site.baseurl}}/images/logo.svg" alt=""></a>
	
	<div class="nav center brand-family">
		<ul>
			<li class="list-group-item-inline milli">
			<a class="{% if page.url == '/' %}current{% endif %} uppercase" href="{{site.baseurl}}/index/">Home</a>
		
			<li class="list-group-item-inline milli">
				<a class="{% if page.url == '/' %}current{% endif %} uppercase" href="{{site.baseurl}}/about/">About</a>
			</li>
			<li class="list-group-item-inline milli">
				<a class="{% if page.url == '/' %}current{% endif %} uppercase" href="{{site.baseurl}}/order/">Order</a>
			</li>
			<li class="list-group-item-inline milli">
				<a class="{% if page.url == '/' %}current{% endif %} uppercase"href="#" >Contact</a>
			</li>
		</ul>
	
		<div class="search-field">
		  <input class="searchField" type="text" name="search" autocomplete="off" />
		</div>
	
		{% if page.showbanner %}
		<div class="banner">
			<h2>{{page.bannertext}}</h2>
		</div>
		{% endif %}
	
	</div>
</header>

<div class="side-nav">

	<ul>
			<li class="list-group-item brand-color uppercase brand-family">
				Order</li>
			<li class="list-group-item micro">
				<a class="e {% if page.url == '/' %}current{% endif %} uppercase" href="{{site.baseurl}}/order/savory">Savory</a>
			</li>
		
			<li class="list-group-item micro">
				<a class="{% if page.url == '/' %}current{% endif %} uppercase" href="{{site.baseurl}}/order/sweet">Sweet</a>
			</li>

			<li class="list-group-item micro">
				<a class="{% if page.url == '/' %}current{% endif %} uppercase" href="{{site.baseurl}}/order/vegan">Vegan</a>
			</li>
	</ul>


	<ul>
			<li class="list-group-item brand-color uppercase brand-family">
				Create</li>
			<li class="list-group-item micro">
				<a class="micro {% if page.url == '/' %}current{% endif %} uppercase" href="{{site.baseurl}}/create/donut-holes">Donut holes</a>
			</li>
		
			<li class="list-group-item micro">
				<a class="{% if page.url == '/' %}current{% endif %} uppercase" href="{{site.baseurl}}/create/filled-donuts">Filled Donuts</a>
			</li>

			<li class="list-group-item micro">
				<a class="{% if page.url == '/' %}current{% endif %} uppercase" href="{{site.baseurl}}/create/original">Original</a>
			</li>
	</ul>

</div>

<div class="product-grid">
{{content}}

<a class="btn" href="{{site.baseurl}}/cart/">Order</a>

</div>

<footer class="center">
		
		<div class="social-links">
			<ul class="social">
				<li class="list-group-item-inline">
					<a class="ease-all" href="#">
						<i class="fa fa-facebook"></i>
						<span class="hide-text">Facebook</span>
					</a>
				</li>
							
				<li class="list-group-item-inline">
					<a class="ease-all" href="#">
						<i class="fa fa-twitter"></i>
						<span class="hide-text">Twitter</span>
					</a>
				</li>
							
				<li class="list-group-item-inline">
					<a class="ease-all" href="#">
						<i class="fa fa-instagram"></i>
						<span class="hide-text">Instagram</span>
					</a>
				</li>
			</ul>
		</div>

		<p class="micro legal">Rachel Lin 2013</p>
	</footer>
	
</body>
</html>